body {
    background-color: #e2e2e2;
}


#header-container {
    background-color:#080F53;
    color:white;
}

footer {
background-color:#080F53;
color:white;

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.fondoColor {
   background-color:#080F53;
    color:white;
}

.colorBase {
     background-color:#E9E6E6;
}

.ocultar {
    visibility:hidden;
}
.mostrar {
    visibility:visible;
}

.w20 {
width:20px;
}

.w50 {
    
width:70%;
}



.colorBlanco {
    background-color: white;
}
.negrita{
    font-weight:bold;
}



label{
    font-weight:bold;
}


.linkAyuda {
color:black;
font-weight:bold;
}
.letraBlanca{
    color:white;
}


.botonBase {
   background-color:#080F53;
   color: white !important;
}
.botonModal {
   background-color:#1bb01a;
   color: white !important;
}