body {
}
#header-container {
    background-color:#080F53;
    color:white;
}


footer {
background-color:#080F53;
color:white;

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
